/AdvJava/Week2/Chapter3/nbproject/private/
/AdvJava/Week2/my-app/target/
/AdvJava/Week3/my-app/target/
/AdvJava/Week4/my-app/target/
/AdvJava/Week6/week5/stockquote-week5-solved/JavaApplication26/nbproject/private/
/AdvJava/Week6/week5/stockquote-week5-solved/JavaApplication26/build/
/AdvJava/Week6/week5/stockquote-week5-solved/target/
/AdvJava/Week6/week-6-solution/target/
/AdvJava/Week6/ORM_Example 2/target/
/AdvJava/Week7/JAXB_Example-release01/target/
/AdvJava/Week7/Week7/target/
/AdvJava/Week2/Chapter3/build/
/AdvJava/Wee9/ExampleWebApp/target/
/AdvJava/Week10/Week10/nbproject/
/AdvJava/Redos2/ExampleWebApp/target/